
.tabla-section {
    padding-top: 0 !important;
    padding-bottom: 50px !important;
}

.btnExcel{
    margin-bottom: 1rem;

}

.circular-btn {
    width: 30px;
    height: 30px;
    background-color: #97989a;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.circular-btn:hover {
    background-color: #4d5154;
    transform: scale(1.1);
}

.circular-btn:active {
    transform: scale(0.95);
}

#btnFechas{
    background-color: #005195;
    margin: 1rem;
}