/* Fondo con degradado de azul a rosa pastel*/
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #6c757d;
    font-family: Arial, sans-serif;
    background-image: url('../images/slide/fondo.jpg');
    background-size: cover;
    background-position: center;
    position: relative; /* Necesario para el pseudo-elemento */
}

#iniciarSesionTit{
    font-weight: normal;
    padding-top: 2rem;
}

.login {
    padding: 0.75rem;
    background-color:#005195;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1.7rem;
    width: 20rem !important;
    font-weight: bolder;
}

.login:hover{
    background-color: #05BBEE;
    color: white;
}

form{
    padding-top: 10px;
}

/* Centrado vertical y horizontal */
.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Div con bordes redondeados y división en dos mitades */
.rounded-div {
    border-radius: 15px;
    overflow: hidden;
    width: 70%;
    height: 500px; /* Ajusta la altura según sea necesario */
    display: flex;
}

/* Estilo de la parte izquierda */
.left-side {
    flex: 1;
    background-color: #f8f9fa; /* Color de fondo de la parte izquierda */
    padding: 20px 20px 20px 4rem;
}

/* Estilo de la parte derecha con la imagen de fondo */
.right-side {
    flex: 1;
    background-image: url('../images/slide/banderas.jpg');
    background-size: cover;
    background-position: center;
}

#divSiguenos{
    margin-top: 2rem;
    font-size: 0.8rem;
    color: #05BBEE;
}

.form-floating{
    width: 20rem !important;
}

#grammerLogo{
    max-width: 3.4rem;
    margin-left: 1rem;
}

#grammerCROC{
    max-width: 4rem;
    margin-left: 1rem;
}

#divLogos{
    padding: 1rem;

}

i{
    font-weight: bolder;
    padding-left: 0.5rem;
    font-size: 0.9rem;
}
small{
    padding-right: 1rem;
    color: #f8f9fa;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .rounded-div {
        width: 90%; /* Ajusta el ancho para pantallas pequeñas */
        height: auto; /* Permite que la altura se ajuste automáticamente */
        flex-direction: column; /* Cambia la dirección de flex para apilar los elementos */
    }

    .left-side {
        order:2;
    }

    .left-side, .right-side {
        padding: 20px; /* Ajusta el padding para mejor visualización */
        width: 100%; /* Asegura que ambos lados ocupen todo el ancho */
    }

    .login {
        width: 100%; /* Botón de inicio de sesión ocupa el ancho completo */
        margin-top: 10px; /* Mantiene un margen en la parte superior */
    }

    .right-side {
        background-image: url('../images/slide/banderas2.jpg');
        border-color: transparent;
        order:1;
    }

    #divLogos {
        display: flex; /* Usar flex para alinear los logos */
        justify-content: flex-end; /* Alinear los logos al final */
        width: 100%; /* Asegura que el contenedor de los logos ocupe todo el ancho */
        padding:0;
    }

    small{
        padding-right: 0;

    }
}

@media (max-width: 480px) {
    .login {
        font-size: 0.9rem; /* Reduce el tamaño de fuente en pantallas pequeñas */
    }

    #divSiguenos {
        font-size: 0.7rem; /* Reduce el tamaño de fuente para redes sociales */
    }
    #numNomina, #password, .login{
        max-width: 290px;
    }

}

@media (max-width: 400px) {
    .login {
        font-size: 0.8rem;
    }
    #numNomina, #password, .login{
        max-width: 275px;
    }

}