:root {
    --white-color: #ffffff;
    --primary-color:   #005195;
    --gris-pastel: #97989a;
    --lila: #84b6f4;
    --gris-oscuro: #717275;

}

h4, table{
    color: var(--gris-pastel) !important;;
}

h3{
    color: var(--primary-color) !important;;
}
#divTablaSolicitudes,
#divAhorroAdmin
{
    padding: 1rem;
}

#tablaSolicitudes_filter,
#tablaCajaAhorro_filter,
#tablaRetiros_filter,
#tablaAhorroAdmin_filter,
#tablaPrestamosAdmin_filter,
#tablaRetirosAdmin_filter
{
    border-top-right-radius: 10px !important;
}

#tablaSolicitudes_length,
#tablaCajaAhorro_length,
#tablaRetiros_length,
#tablaAhorroAdmin_length,
#tablaPrestamosAdmin_length,
#tablaRetirosAdmin_length
{
    border-top-right-radius: 10px;
}

#tablaSolicitudess_info,
#tablaCajaAhorro_info,
#tablaRetiros_info,
#tablaAhorroAdmin_info,
#tablaPrestamosAdmin_info,
#tablaRetirosAdmin_info
{
    padding: 0 !important;
}

#tablaSolicitudes_length, #listadoPruebas_filter,
#tablaCajaAhorro_length,
#tablaRetiros_length,
#tablaAhorroAdmin_length,
#tablaPrestamosAdmin_length,
#tablaRetirosAdmin_length
{
    padding-right: 900px !important;
}

#tablaSolicitudes td,
#tablaCajaAhorro td,
#tablaRetiros td,
#tablaAhorroAdmin td,
#tablaPrestamosAdmin td,
#tablaRetirosAdmin td
{
    font-size: 1.1rem !important;
    color: var(--primary-color) !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;

}

#tablaSolicitudes #folio,
#tablaCajaAhorro #folio,
#tablaRetiros #folio,
#tablaAhorroAdmin #folio,
#tablaPrestamosAdmin #folio,
#tablaRetirosAdmin #folio
{
    width: 6.8rem !important;
}
/*DeataTable*/
#tablaSolicitudes_filter input, #tablaSolicitudes_length select,
#tablaCajaAhorro_filter input, #tablaCajaAhorro_length select,
#tablaRetiros_filter input, #tablaRetiros_length select
#tablaAhorroAdmin_filter input, #tablaAhorroAdmin_length select,
#tablaPrestamosAdmin_filter input, #tablaPrestamosAdmin_length select,
#tablaRetirosAdmin_filter input, #tablaRetirosAdmin_length select
{
    color: var(--primary-color);
}

#tablaSolicitudes_length, #tablaSolicitudes_filter,
#tablaCajaAhorro_length, #tablaCajaAhorro_filter,
#tablaRetiros_length, #tablaRetiros_filter,
#tablaAhorroAdmin_length, #tablaAhorroAdmin_filter,
#tablaPrestamosAdmin_length, #tablaPrestamosAdmin_filter,
#tablaRetirosAdmin_length, #tablaRetirosAdmin_filter
{
    padding: 3rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    height: 15px !important;
}

#tablaSolicitudes_length,
#tablaCajaAhorro_length,
#tablaRetiros_length,
#tablaAhorroAdmin_length,
#tablaPrestamosAdmin_length,
#tablaRetirosAdmin_lenth
{
    border-top-left-radius: 10px;
}

#tablaSolicitudes_filter,
#tablaCajaAhorro_filter,
#tablaRetiros_filter,
#tablaAhorroAdmin_filter,
#tablaPrestamosAdmin_filter,
#tablaRetirosAdmin_filter
{
    border-top-right-radius: 10px;
}

#tablaSolicitudes_info,
#tablaCajaAhorro_info,
#tablaRetiros_info,
#tablaAhorroAdmin_info,
#tablaPrestamosAdmin_info,
#tablaRetirosAdmin_info
{
    padding: 1rem !important;
    color: var(--primary-color) !important;
    font-size: 0.9rem !important;
}
.dataTables_paginate {
    margin-top: 20px;
}

.dataTables_paginate .paginate_button,
#tablaSolicitudes_previous,
#tablaCajaAhorro_previous,
#tablaRetiros_previous,
#tablaAhorroAdmin_previous,
#tablaPrestamosAdmin_previous,
#tablaRetirosAdmin_previous
{
    border-radius: 4px;
    margin: 0 2px;
    cursor: pointer;
}

.dataTables_paginate .paginate_button:hover {
    background-color:  var(--white-color);
}

/*
.dataTables_filter input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    margin-left: 10px;
}


.dataTables_filter input {
    width: 200px !important;
}

*/
.centered {
    text-align: center;
}

.form-select-sm {
    width: 80px !important;
}

#tablaSolicitudes_filter,
#tablaCajaAhorro_filter,
#tablaRetiros_filter,
#tablaAhorroAdmin_filter,
#tablaRetirosAdmin_filter {
    text-align: right;
}

#tituloCajita{
   margin-left: 1rem;
}

/* Media Query para pantallas de tamaño tablet (ancho máximo de 1024px) */
@media (max-width: 1400px) {

    #tituloCajita, #tittleAdmin {
        display: none;
    }
}

@media (max-width: 1024px) {

    body *{
        font-size: 0.9rem;
    }

    h3{
        font-size: 1.5rem;
    }

    h4{
        font-size: 1.2rem;
    }

    #tituloCajita{
        display: none;

    }
    /* Ajuste del padding y tamaño de fuente en filtros y selectores */
    #tablaSolicitudes_length, #tablaSolicitudes_filter,
    #tablaCajaAhorro_length, #tablaCajaAhorro_filter,
    #tablaRetiros_length, #tablaRetiros_filter,
    #tablaAhorroAdmin_length, #tablaAhorroAdmin_filter,
    #tablaPrestamosAdmin_length, #tablaPrestamosAdmin_filter,
    #tablaRetirosAdmin_length, #tablaRetirosAdmin_filter {
        padding: 1.5rem;
        font-size: 0.9rem;
    }

    /* Ancho de los inputs en los filtros
    .dataTables_filter input {
        width: 150px !important;
    }*/
}

/* Media Query para pantallas móviles (ancho máximo de 768px) */
@media (max-width: 768px) {

    body *{
        font-size: 0.7rem;
    }

    h2{
        font-size: 1.5rem;
    }

    h3{
        font-size: 1.3rem;
    }

    h4{
        font-size: 1rem;
    }

    .paginate_button{
        font-size: 0.6rem;
    }
    /* Reduce padding y tamaño de texto en filtros y selectores */
    #tablaSolicitudes_length, #tablaSolicitudes_filter,
    #tablaCajaAhorro_length, #tablaCajaAhorro_filter,
    #tablaRetiros_length, #tablaRetiros_filter,
    #tablaAhorroAdmin_length, #tablaAhorroAdmin_filter,
    #tablaPrestamosAdmin_length, #tablaPrestamosAdmin_filter,
    #tablaRetirosAdmin_length, #tablaRetirosAdmin_filter {
        padding: 1rem;
        font-size: 0.8rem;
    }

    /* Reduce tamaño de input en los filtros
    .dataTables_filter input {
        margin-left: 0;
        font-size: .7rem;
    }*/

    /* Centrar elementos de paginación */
    .dataTables_paginate {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: .3rem;
    }

    /* Ajustes de ancho y tamaño de celdas */
    #tablaSolicitudes td, #tablaCajaAhorro td,
    #tablaRetiros td, #tablaAhorroAdmin td,
    #tablaPrestamosAdmin td, #tablaRetirosAdmin td {
        font-size: 0.8rem !important;
        padding-top: 4px !important;
        padding-bottom: 4px !important;
    }

    #tablaSolicitudes_length,
    #tablaCajaAhorro_length,
    #tablaRetiros_length,
    #tablaAhorroAdmin_length,
    #tablaPrestamosAdmin_length,
    #tablaRetirosAdmin_lenth
    {
        border-top-left-radius: 0 !important;
    }

    #tablaSolicitudes_filter,
    #tablaCajaAhorro_filter,
    #tablaRetiros_filter,
    #tablaAhorroAdmin_filter,
    #tablaPrestamosAdmin_filter,
    #tablaRetirosAdmin_filter
    {
        border-top-right-radius: 0 !important;
    }

    .titCajita{
       display: none;
    }
}

div.dt-container .dt-paging .dt-paging-button:hover {
    color: white !important;
    border: 1px solid #005195 !important;
    background-color: #005195 !important;
    background: linear-gradient(to bottom, #005195 0%, #005195 100%);
}